<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .checked {
    color: orange;
}
  body { padding-top: 70px; }

  .imgAbt {
      box-shadow: 0 0 15px black;
      padding:10px 5px 0 5px;
  }
  .imgAbt p {
    margin: 10px;
  }
  </style>
  <title>Commerce Store Front</title>
</head>
<body>
  <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
      <form class="form-inline my-2 my-lg-0 mx-auto">
        <a class="navbar-brand" href="#">DECATHLON</a>
      </form>
    </div>
  </nav>
  <!-- navbar -->

{% block content %}{% endblock %}

    <script src="https://use.fontawesome.com/443e1c4c2a.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>
